:root {
  --header-height: 4rem;
  --primary: #1de9b6;
  --primary-light: #6effe8;
  --primary-dark: #00b686;
  --secondary: #2196f3;
  --secondary-light: #6ec6ff;
  --secondary-dark: #0069c0;
  --primary-text: #000000;
  --secondary-text: #fafafa;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font: normal normal 400 10px 'Raleway', sans-serif;
}

body {
  min-height: 100vh;
  height: 100%;
  letter-spacing: 0.2rem;
  padding: 0 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--primary);
  color: var(--primary-text);
}

.grid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 60vw;
  place-content: center;
  row-gap: 1rem;
}

article {
  transition: 0.3s;
  background-color: var(--secondary);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  border-radius: 25px;
  padding: 1rem;
  gap: 1rem;
}

article > header {
  position: relative;
  top: calc(1rem + 50%);
  left: 2vw;
  width: 65%;
  background-color: var(--secondary-dark);
  color: var(--secondary-text);
  border-radius: 1rem;
  padding: 0.5rem;
}

.header {
  height: var(--header-height);
  margin: 2rem 0 5rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  grid-row: 2/3;
  max-width: 100%;
  border: 1px solid transparent;
  border-radius: 20px;
}

.description {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: var(--secondary-light);
  border-radius: 10px;
  padding: 2rem;
  font-size: 1rem;
  place-self: center;
}

@media only screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: 95vw;
  }
  article {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  article > header {
    left: 5vw;
    padding-left: 2rem;
  }

  img {
    grid-column: 1/-1;
    place-self: stretch;
  }

  .description {
    grid-row: 3/4;
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}
