:root {
  --header-height: 4rem;
  --text-dark: #000000;
  --text-light: #fafafa;
  --background: #fff;
  /*Flowwy color palete : https://coolors.co/ef476f-ffd166-06d6a0-118ab2-073b4c*/
  --earth: #45340d;
  --earth-light: #7a572f;
  --earth-dark: #312509;
  --water: #136492;
  --water-light: #46a2d6;
  --water-dark: #002b43;
  --wind: #a4bcde;
  --wind-light: #a3dbfd;
  --wind-dark: #5f86bb;
  --fire: #ffbf1f;
  --fire-light: #f5d688;
  --fire-dark: #c25c27;
  --space: #142d52;
  --space-light: #131820;
  --space-dark: #101318;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font: normal normal 400 10px 'Raleway', sans-serif;
}

body {
  height: 100vh;
  letter-spacing: 0.2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--text-dark);
}

.grid {
  display: flex;
  flex-direction: column;
  margin: 0 15vw;
}

.grid-item {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: grid;
  grid-template-rows: 3rem calc(100% - 3rem);
  grid-template-columns: fit-content(300px) 1fr;
  border-radius: 25px;
  padding: 1rem;
  column-gap: 1rem;
  opacity: 0;
  transform: scale(0.6);
  transition: 0.3s ease-in-out 0.2s;
}

.earth {
  background: linear-gradient(45deg, var(--earth-dark), var(--earth));
  color: var(--text-light);
  box-shadow: -9px 11px 9px 1px var(--earth-light);
}

.water {
  background: linear-gradient(45deg, var(--water-dark), var(--water));
  color: var(--text-light);
  box-shadow: -9px 11px 9px 1px var(--water-light);
}

.wind {
  background: linear-gradient(45deg, var(--wind-dark), var(--wind));
  color: var(--text-dark);
  box-shadow: -9px 11px 9px 1px var(--wind-light);
}

.fire {
  background: linear-gradient(45deg, var(--fire-dark), var(--fire));
  color: var(--text-dark);
  box-shadow: -9px 11px 9px 1px var(--fire-light);
}

.space {
  background: linear-gradient(
    45deg,
    var(--space),
    var(--space-light),
    var(--space-dark)
  );
  color: var(--text-light);
  box-shadow: -9px 11px 20px 3px var(--space);
}

.logo {
  width: 100px;
  max-height: 100px;
}

.appear {
  opacity: 1;
  transform: scale(1);
}

.grid-item > header {
  font-size: 1.4rem;
  grid-row: 1/2;
  background-color: inherit;
  color: inherit;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem 0;
  display: flex;
  align-items: center;
}

.header {
  min-height: var(--header-height);
  margin: 1rem 0 5rem 2rem;
  display: flex;
  align-items: center;
}

.header h1 {
  margin-left: 1rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.img-container {
  grid-row: 2/-1;
  height: 100%;
  display: flex;
  justify-content: end;
  padding: 1rem;
}

img {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 20px;
}

.description {
  grid-row: 2/-1;
  grid-column: 2/3;
  overflow: auto;
  background-color: inherit;
  color: inherit;
  border-radius: 10px;
  padding: 2rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  .grid {
    margin: 0 2rem;
  }
  .grid-item {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 47% minmax(min-content, max-content);
    row-gap: 1rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .grid-item > header {
    grid-row: 1/2;
  }

  .img-container {
    grid-row: 2/3;
    padding: 0;
  }

  img {
    object-fit: cover;
    object-position: center;
  }

  .description {
    grid-row: 3/4;
    grid-column: 1/-1;
    padding: 1rem;
  }
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}
